$color-blue: #255fdd;
$color-light-blue: #0d8ce9;
$color-green: #19861b;
$color-white: #fff;

// Imports
@import '_typography';
@import '_footer';
@import '_main';
@import '_header';
@import '_general';
