/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --white: #fff;
    --black: #1e1e1e;
    --light: #feece0;
    --grey: #f4f6f6;
    --orange: #ed864e;
    --border-radius: 24px;
}

/* General styling */
html {
    font-family: 'Inter', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

h1 {
    margin: 0;
}

#page_container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page_container > .loading-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#page_container > section {
    max-width: 900px;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 4rem);
    padding: 2rem;
}

.home > h1 {
    font-size: 2rem;
    margin-top: 5rem;
}

.home > .link_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80vw;
    padding: 5rem 0;
    border-radius: var(--border-radius);
}

.home > .link_container > a:first-of-type {
    color: var(--white);
    background-color: var(--black);
    width: 70%;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
}

.home > .link_container > a:last-of-type {
    color: var(--black);
    background-color: var(--grey);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
    width: 70%;
    text-decoration: none;
}

/* Scanner */
.scanner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scanner > h1 {
    text-align: center;
}

.scanner > .container {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.scanner > .container > video {
    border-radius: 5px;
    max-width: 900px;
}

.scanner > .link_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scanner > .link_container > button {
    color: var(--black);
    background-color: var(--grey);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
    width: 70%;
    text-decoration: none;
    border: none;
    order: 1;
    font-size: 1rem;
    font-weight: 500;
}

.scanner > .link_container > a {
    text-decoration: underline;
    color: var(--orange);
    order: 2;
    margin-top: 1rem;
}

.scanner > .container > br {
    display: none !important;
}

.scanner > .container > video {
    width: calc(100vw - 4rem);
}

.scanner > .container > .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
}

.drawingBuffer {
    display: none;
}

/* Manual input */
.manual-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 2rem;
    position: relative;
}

.manual-input > h1 {
    font-size: 2rem;
    margin-top: 2.5rem;
    text-align: center;
}

.manual-input > form {
    margin-top: 30vh;
    transition: all 0.25s;
    width: 100%;
}

.manual-input > form > input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0.25rem 0 0.5rem 0;
}

.manual-input > form > button {
    color: var(--white);
    background-color: var(--black);
    width: 25%;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: 1rem;
}

.manual-input > .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
}

.manual-input > .content > .loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.manual-input > .content > .count {
    font-size: 0.75rem;
    color: var(--black);
}

.manual-input > .content > .loading-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* https://dev.to/michaelburrows/css-skeleton-loading-screen-animation-gj3 */
.manual-input > .content > .loading-products > .skeleton {
    cursor: progress;
    background: linear-gradient(0.25turn, transparent, #fff, transparent), linear-gradient(#eee, #eee),
        radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%), linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
    animation: loading 1.5s infinite;
    height: 3rem;
    width: 100%;
    border-radius: 5px;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
}

.manual-input > .content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 2rem);
}

.manual-input > .content li {
    padding: 1rem;
    background-color: var(--grey);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.25s;
}

.manual-input > .content li a {
    text-decoration: none;
    color: var(--black);
}

.manual-input > .content > .error {
    padding: 1rem 2rem;
    color: #9f6000;
    background-color: #feefb3;
}

/* https://cssgradient.io/ */
.manual-input > .link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: calc(900px - 3rem);
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.manual-input > .link-container > a {
    color: var(--white);
    background-color: var(--black);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-input > .link-container > a > img {
    width: 24px;
    height: 24px;
}

.manual-input > .active {
    margin-top: 2rem;
}

/* Details */
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 2rem;
    position: relative;
    margin-bottom: 5rem;
}

.details > .link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: calc(900px - 3rem);
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.details > .link-container img {
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
}

.details > .link-container > a {
    color: var(--white);
    background-color: var(--black);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
